
nav {
  	@include padding-lr($default-padding);
  	background-color: $accent-color;
  	ul {
		margin: 0;
		list-style: none;
	
		li {
			line-height: $navbar-height;
			color: $text-color-bg-dark;
			display: inline-block;
			@include padding-lr($large-padding);
			&:hover {
				background-color: $highlight-color;
			}
		}

		//decor is so overrated 
		a{
			cursor: pointer;
			text-decoration: none;
		}
  	}
}
